<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://evolus.vn/Namespaces/WebUI/1.0">
    <head>
        <title>Interest Calculator</title>
        <link rel="manifest" href="manifest.json" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--  FRAMEWORK SCRIPTS -->
        <script type="text/javascript" src="framework/js/common-dom.js"></script>
        <script type="text/javascript" src="framework/js/stacktrace.js"></script>
        <script type="text/javascript" src="framework/js/net.js"></script>
        <script type="text/javascript" src="framework/js/widget/Common.js"></script>

        <script type="text/javascript" src="framework/js/widget/SplitView.js"></script>
        <script type="text/javascript" src="framework/js/widget/Dialog.js"></script>
        <script type="text/javascript" src="framework/js/widget/ActionBar.js"></script>
        <script type="text/javascript" src="framework/js/widget/DataTable.js"></script>
        <script type="text/javascript" src="framework/js/widget/Paginator.js"></script>
        <script type="text/javascript" src="framework/js/widget/TabPane.js"></script>
        <script type="text/javascript" src="framework/js/widget/Popup.js"></script>
        <script type="text/javascript" src="framework/js/widget/Menu.js"></script>
        <script type="text/javascript" src="framework/js/widget/ComboManager.js"></script>
        <script type="text/javascript" src="framework/js/widget/Tree.js"></script>
        <script type="text/javascript" src="framework/js/widget/RepeaterView.js"></script>
        <script type="text/javascript" src="framework/js/widget/Scale.js"></script>
        <script type="text/javascript" src="framework/js/widget/ProgressBar.js"></script>
        <script type="text/javascript" src="framework/js/widget/ScrollbarlessScrollView.js"></script>
        <script type="text/javascript" src="framework/js/widget/InfiniteScrollPaginator.js"></script>
        <script type="text/javascript" src="framework/js/widget/StyledInput.js"></script>

        <!--  FRAMEWORK STYLES -->
        <link rel="stylesheet" href="framework/style/layout.css" />
        <link rel="stylesheet/less" href="framework/style/layout.less" />
        <link rel="stylesheet/less" href="framework/style/theme-default.less" />
        <link rel="stylesheet/less" href="framework/style/icon-materialicons.less" />

        <!-- APPLICATION SPECIFIC EXTERNAL REF -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script type="text/javascript" src="src/api.js"></script>
        <script type="text/javascript" src="src/Utils.js"></script>


        <!-- APPLICATION SPECIFIC WIDGETS -->
        <script type="text/javascript" src="widgets/BaseApplicationWidget.js"></script>
        <link rel="stylesheet" href="materialdesignicons/css/materialdesignicons.css" />

        <script type="text/javascript" src="widgets/AppView.js"></script>

        <!-- APPLICATION SPECIFIC STYLES -->
        <link rel="stylesheet/less" type="text/css" href="style/theme.less" />
        <script type="text/javascript">
            window.APP_THEME_PATH = "style/theme-variables.less";
        </script>

        <script type="text/javascript" src="framework/js/less-2.7.1.min.js"></script>
    </head>
    <body>
        <ui:AppView flex="1" />
    </body>
</html>
