<vbox>
    <style>
        @this {
            padding: 0em;
            background: #f7f7f7;
            position: relative;
            margin: 20px auto;
        }
        .Container {
            background-color: white;
        }
        input {
            width: 15em;
        }
        label {
            margin-bottom: 0.3em;
            font-weight: 500;
        }
        .InputContainer .Entry {
            margin-top: 1em;
        }
        .Entry {
            column-gap: 2em;
        }
        .ResultContainer,
        .Summary {
            margin-top: 3em;
        }
        .ResultContainer  {
            margin-bottom: 20px;
        }
        .Toolbar {
            margin-bottom: 0.3em;
            justify-content: flex-end;
        }
        .Summary hbox {
            margin-top: 0.4em;
        }
        .Label {
            margin-right: 2em;
        }
        button {
            padding: 0.5em 0.8em;
            cursor: pointer;
        }
    </style>
    <vbox class="Container" flex="1">
        <h2>Loan Interest Calculator</h2>
        <vbox class="InputContainer">
            <vbox class="Entry">
                <label for="loanAmount">Giá trị vay (vnđ)</label>
                <input type="text" flex="1" anon-id="loanAmount"></input>
            </vbox>
            <hbox class="Entry">
                <vbox>
                    <label for="promotionMonth">Thời gian ưu đãi (tháng)</label>
                    <input type="number" flex="1" anon-id="promotionMonth"></input>
                </vbox>
                <vbox>
                    <label for="promotionInterest">Lãi xuất ưu đãi (%)</label>
                    <input type="number" flex="1" anon-id="promotionInterest"></input>
                </vbox>
            </hbox>
            <hbox class="Entry">
                <vbox>
                    <label for="loanMonth">Thời gian thả nổi (tháng)</label>
                    <input type="number" flex="1" anon-id="loanMonth"></input>
                </vbox>
                <vbox>
                    <label for="loanInterest">Lãi xuất thả nổi (%)</label>
                    <input type="number" flex="1" anon-id="loanInterest"></input>
                </vbox>
                <vbox>
                    <label for="interuptMonth">Tháng cắt gốc</label>
                    <input type="number" flex="1" anon-id="interuptMonth"></input>
                </vbox>
            </hbox>
            <hbox class="Entry">
                <button role="primary" anon-id="calculateBtn"><icon class="flash"></icon><span>Calculate</span></button>
            </hbox>
        </vbox>
        <vbox class="Summary">
            <h3>Chi tiết khoản vay</h3>
            <hbox>
                <span class="Label">Tổng vay:</span>
                <span anon-id="totalLoanAmount"></span>
            </hbox>
            <hbox>
                <span class="Label">Thời hạn vay:</span>
                <span anon-id="totalLoanMonth"></span>
            </hbox>
            <hbox>
                <span class="Label">Lãi cần trả:</span>
                <span anon-id="interestAmount"></span>
            </hbox>
            <hbox>
                <span class="Label">Tổng số tiền bạn cần trả (tổng vay + lãi):</span>
                <span anon-id="totalAmount"></span>
            </hbox>
            <hbox>
                <span class="Label">Lãi đã trả tại tháng cắt gốc:</span>
                <span anon-id="totalInteruptAmount"></span>
            </hbox>
        </vbox>
        <vbox class="ResultContainer">
            <hbox class="Toolbar">
                <button anon-id="exportExcelBtn" disabled="true" role="secondary"><icon class="file-excel"></icon><span>Tải file excel</span></button>
            </hbox>
            <ui:DataTable anon-id="dataTable"></ui:DataTable>
        </vbox>
    </vbox>
</vbox>
