@primary_color: #DC972A;
@primary_text_color: #ffffff;
@app_bg: #e5e5e5;
@danger_color: #b5513a;

@selected_bg: @primary_color;
@selected_fg: @primary_text_color;
@card_shadow: 0em 0.15ex 0.25em rgba(0, 0, 0, 0.2);
@popup_bg: lighten(@app_bg, 3%);
@popup_border: darken(@app_bg, 5%);
@toolbar_spacing: 0.4em;
@selected_button_bg: darken(@app_bg, 10%);
@toolbar_gap: 0.4em;
@iconify: {
    display: inline-block;
    line-height: 1em;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    opacity: 0.54;
};

@font_family: "Dosis", sans-serif;
