<button xmlns:ui="http://evolus.vn/Namespaces/WebUI/1.0">
    <style>
        @this {
            white-space: nowrap;
            text-align: left;
            position: relative;
            font: inherit;
            font-weight: bold;
            padding: 0.5em;
            &.CV_Invalid {
                #sys-invalid();
            }
        }
        @buttonDisplay {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            /* display: inherit; */
        }

        body .ComboManagerPopup {
            #sys-vbox();
        }
    </style>
    <span anon-id="buttonDisplay"></span><icon class="menu-down"></icon>
    <ui:Popup anon-id="popup" verticalScroll="true">
        <vbox anon-id="popupContent">
            <vbox anon-id="list" class="ListContainer">
            </vbox>
            <vbox container="popup-footer"></vbox>
            <vbox container="popup-extra-footer"></vbox>
        </vbox>
    </ui:Popup>
</button>
