<hbox>
    <style>
        @this {
            &.CV_Invalid {
                color: #FF0000;
                & input {
                    border: 1px #FF0000 solid;
                    background-color: rgba(255, 0, 0, 0.05);
                }
            }
            & .CurrencyInput {
                align-items: stretch;
                position: relative;
                & > @amountIconType {
                    position: absolute; 
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    padding: 0.38em 0.4em;
                    background-color: rgb(238, 238, 238);
                    & > icon.currency-usd {
                        font-size: 1.2em;
                        display: inline-block;
                    }
                    & > icon.percent {
                        font-size: 1.2em;
                        display: none;
                    }
                    & > icon.menu-down {
                        display: none;
                        position: absolute;
                        left: 1em;
                        bottom: 0;
                        font-weight: bold;
                    }
                }
                & > input {
                    text-align: right;
                    width: 10ex;
                    padding-left: 2em;
                }
            }
            &.EnabledSwitchMode {
                & .CurrencyInput > @amountIconType {
                    cursor: pointer;
                    & > icon.menu-down {
                        display: inline-block;
                    }
                }
                
            }
            &.AmountTypeVND {
                & .CurrencyInput > @amountIconType .currency-usd {
                    display: none;
                }
                & .CurrencyInput > @amountIconType .percent {
                    display: none;
                }
                & .CurrencyInput > .AnonId_amountIconType .VNDLabel {
                    display: inline-block;
                    min-width: 2em;
                    text-align: center;
                }
                & .CurrencyInput input {
                    padding-right: 3em;
                }
            }
            &.AmountTypePercent {
                & .CurrencyInput > @amountIconType .currency-usd {
                    display: none;
                }
                & .CurrencyInput > .AnonId_amountIconType .VNDLabel {
                    display: none;
                }
                & .CurrencyInput > .AnonId_amountIconType .percent {
                    display: inline-block;
                    min-width: 2em;
                    text-align: center;
                }
                & .CurrencyInput input {
                    padding-right: 3em;
                }
            }
        }
        
        
        @this.Disabled > hbox {
            opacity: 0.5;
            & @currencyIconType {
                cursor: default;
            }
        }
        body .CurrencyTypePopupContent .AmountTypeItem {
            padding: 0.5em 1em;
            &:hover {
                background-color: rgba(70, 154, 219, 0.4);
                cursor: pointer;
            }
        }
        
    </style>
    <hbox class="CurrencyInput" flex="1">
        <vbox anon-id="amountIconType">
            <span class="VNDLabel">đ</span>
            <span class="percent">%</span>
        </vbox>
        <input type="text" anon-id="currencyInput" size="4" flex="1"/>
    </hbox>
    
    <ui:Popup anon-id="amountTypePopup">
        <div anon-id="amountTypePopupContent" class="CurrencyTypePopupContent">
            <div class="AmountTypeItem" anon-id="amountTypeDollar">$</div>
            <div class="AmountTypeItem" anon-id="amountTypePercent">%</div>
        </div>
    </ui:Popup>
    
    
    
</hbox>
