<vbox>
    <style>
        @this {
            position: relative;
            opacity: 0.9999;
            overflow: hidden;
            #sys-flex(1);
        }

        @container {
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        @this[safe-mode="true"] {
            overflow: hidden;
            & @container {
                width: 100%;
                #sys-flex(1);
            }
        }
        @this:not([safe-mode="true"]) {
            & @container {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
            }
        }

        @container > * {
            -ms-overflow-style: scrollbar;
        }

        body .widget_ScrollbarlessScrollView .AnonId_container::-webkit-scrollbar { /* WebKit */
            display: none;
        }

        @scrollbar {
            z-index: 1;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 0.3em;
            border: solid 0px transparent;
            border-left-width: 1em;
            background-color: transparent;
            opacity: 0.5;
            background-clip: content-box;
            transition: all ease 0.1s;
        }
        @this:not(:hover) @scrollbar {
            opacity: 0.3;
        }

        @scrollbar:hover,
        @scrollbar:active,
        @this.ThumbHeld @scrollbar {
            background-color: rgba(100, 100, 100, 0.5);
            width: 0.7em;
            opacity: 1;

            & @thumb {
                border-radius: 0.3em;
                opacity: 0.4;

                &:hover {
                    opacity: 0.6;
                }
                &:active {
                    opacity: 0.7;
                }
            }
        }

        @thumb {
            position: absolute;
            left: 0px;
            right: 0px;

            top: 20%;
            height: 40%;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 0em;
            transition: border-radius 0.1s ease;
        }

        @this:not(.VerticalOverflowed) @scrollbar {
            display: none;
        }
    </style>
    <vbox anon-id="container">

    </vbox>
    <div anon-id="scrollbar">
        <div anon-id="thumb"></div>
    </div>
</vbox>
