<hbox>
    <style>
        @this {
            position: relative;
        }
        @this {
            &.CV_Invalid {
                color: #FF0000;
                & input {
                    border: 1px #FF0000 solid;
                    background-color: rgba(255, 0, 0, 0.05);
                }
            }
        }
        @this:not(.Inputted) {
            & .AnonId_suffix {
                display: none;
            }
        }
        icon {
            font-size: 1.32em;
            color: #82827e;
        }
        input {
            padding-left: 2.1em;
            padding-right: 2em;
        }
        .AnonId_prefix {
            position: absolute;
            top: 6px;
            left: 7px;
        }
        .AnonId_suffix {
            position: absolute;
            top: 6px;
            right: 6px;
            cursor: pointer;
        }
    </style>
    <icon anon-id="prefix"></icon>
    <input type="text" flex="1" anon-id="input"/>
    <icon anon-id="suffix"></icon>
</hbox>