@primary_color: #469adb;
@base_text_color: #000000;
@primary_text_color: fade(@base_text_color, 87%);
@base_inverted_text_color: #ffffff;
@inverted_text_color: fade(@base_inverted_text_color, 87%);

@secondary_color: #ffff8d;
@warning_color: #d69404;

@problem_color: #ff0000;
@hover_bg: rgba(0, 0, 0, 0.05);

@selected_fg: @inverted_text_color;
@selected_bg: @primary_color;

@app_bg: #eeeeee;

@card_shadow: 0em 0.15ex 0.25em rgba(0, 0, 0, 0.2);
@popup_bg: lighten(@app_bg, 3%);
@popup_border: darken(@app_bg, 5%);
@toolbar_spacing: 0.4em;
@selected_button_bg: darken(@app_bg, 10%);
@toolbar_gap: 0.4em;

@primary_button_color: #84c55f;
@primary_button_text_color: #ffffff;
@secondary_button_color: #f6e071;
@secondary_button_text_color: #333333;
@danger_button_color: #ee3523;
@danger_button_text_color: #ffffff;
@extra_button_color: #5fa8dc;
@extra_button_text_color: #ffffff;

@dp: 0.066666667;
@default-line-height: 1.2;
@button-border-radius: unit(3 * @dp, em);
@text-border-radius: 0.2em;
#sys-invalid() {
    border-color: @problem_color;
    background-color: fadeout(@problem_color, 95%);
    color: @problem_color;
}
#sys-text-style() {
    border: solid 1px #cccccc;
    background-color: #fff;
    color: #222;
    border-radius: @text-border-radius;
    padding: 0.5em;
    outline: none;
    font: inherit;

    &:focus {
        border-color: @primary_color;
        box-shadow: 0px 0px 1px fadeout(@primary_color, 40%);
    }
    &:disabled {
        background-color: #eee;
        opacity: 0.6;
    }
    &.CV_Invalid {
        #sys-invalid();
    }
}
@iconify: {
};
.base-icon() {
    display: inline-block;
    font: normal normal normal 1.2em/1 "Material Design Icons";
    font-weight: inherit;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.icon(@name) {
    &:before {
        .base-icon();
        .mdi-icon-name-to-content(@name);
    }
}

@import "theme-default-icon-includes.less";

.line-height-default() {
    line-height: @default-line-height;
}

.z-depth-transition() {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.z-depth-focus() {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.z-depth-2dp() {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-3dp() {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

.z-depth-4dp() {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.z-depth-6dp() {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.z-depth-8dp() {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.z-depth-16dp() {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.z-depth-24dp() {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 24px 38px 3px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.z-depth(@dp: 2) {
    & when (@dp = 2) {
        .z-depth-2dp();
    }
    & when (@dp = 3) {
        .z-depth-3dp();
    }
    & when (@dp = 4) {
        .z-depth-4dp();
    }
    & when (@dp = 6) {
        .z-depth-6dp();
    }
    & when (@dp = 8) {
        .z-depth-8dp();
    }
    & when (@dp = 16) {
        .z-depth-16dp();
    }
    & when (@dp = 24) {
        .z-depth-24dp();
    }
}

.ripple-effect(@color: rgba(255, 255, 255, 0.5)) {
    position: relative;
    overflow: hidden;

    animation: ripple-effect; /* name used as a marker only, no actual animation defined */

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: @color;
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }
    &[ripple-effect-just-clicked]::after {
        animation: ripple 1s ease-out;
    }
}
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));

    @prefix: extract(@prefixes, @index);
    @dir-old: 90 - (@dir);

    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
    & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}

@sidebar_bg: #d4eaff;
@sidebar_padding: 1.8em;
@sidebar_padding_xl: 1em;

@content_padding: 1em;
@button_gap: 0.5em;
