@import "theme-default-includes.less";
@import "layout-includes.less";

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(80, 80);
    }
}
@keyframes ripple-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 2em rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
#keyframes(slide-in-f;{
    0% { opacity: 0.5; }
    100% { transform: translateX(0%); opacity: 1; }
});

#keyframes(slide-out-f;{
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
});

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0px;
    padding: 0px;
}
html {
}
label {
    font-weight: normal;
}

/* Base */
body {
    font-size: 0.85em;
}
body,
.sys_FrameworkWidget {
    font-size-adjust: none;
    line-height: @default-line-height;
    color: @primary_text_color;
}

/* Push Buttons */

input[disabled] {
    pointer-events: none;
    &[type="checkbox"],
    &[type="radio"] {
        opacity: 0.3;
    }
}

body button,
body input[type="button"] {
    .line-height-default();
    padding: unit(4 * @dp, em) unit(6 * @dp, em);
    margin: 0em;
    border: none;
    border-radius: @button-border-radius;

    background: #e6e6e6;
    font-weight: 500;
    font-family: inherit;

    box-sizing: border-box;
    color: #333;

    outline: none !important;

    .ripple-effect();

    &:focus {
        background: rgba(153, 153, 153, 0.3);
        outline: none !important;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    & > icon {
        opacity: 0.65;
    }

    & > icon:first-child + * {
        margin-left: 0.4em;
    }

    & > * + icon {
        margin-left: 0.4em;
    }
}

hbox > button:not(.widget_ComboManager),
vbox > button:not(.widget_ComboManager),
hbox > input[type="button"],
vbox > input[type="button"] {
    #sys-hbox();
    align-items: center;
    justify-content: center;
}

button[mode="raised"],
input[type="button"][mode="raised"] {
    .z-depth(2);
}

button[role="primary"],
input[type="button"][role="primary"] {
    background-color: @primary_button_color;
    color: @primary_button_text_color;
    font-weight: bold;
}
button[role="primary"]:focus,
input[type="button"][role="primary"]:focus {
    background-color: shade(@primary_button_color, 20%);
}

button[role="danger"],
input[type="button"][role="danger"] {
    background-color: @danger_button_color;
    color: @danger_button_text_color;
}
button[role="danger"]:focus,
input[type="button"][role="danger"]:focus {
    background-color: shade(@danger_button_color, 20%);
}

button[role="secondary"],
input[type="button"][role="secondary"] {
    background-color: @secondary_button_color;
    color: @secondary_button_text_color;
    font-weight: bold;
}
button[role="secondary"]:focus,
input[type="button"][role="secondary"]:focus {
    background-color: shade(@secondary_button_color, 20%);
}

button[role="extra"],
input[type="button"][role="extra"] {
    background-color: @extra_button_color;
    color: @extra_button_text_color;
}
button[role="extra"]:focus,
input[type="button"][role="extra"]:focus {
    background-color: shade(@extra_button_color, 20%);
}

button[disabled],
input[type="button"][disabled] {
    opacity: 0.4;
    // background: transparent;
    // color: rgba(0, 0, 0, .26);
    text-shadow: none;
    box-shadow: none;
}

button > icon {
    font-size: 1.4em;
    opacity: 0.87;
    font-weight: normal;
}
button > * {
    vertical-align: middle;
}
button > icon + * {
    margin-left: 0.3em;
}

/* Text boxes */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
    #sys-text-style();
}

/* Checkbox & Radio */
@checkbox-font-size: unit(@default-line-height * 1.2, em);
.base-checkable-control() {
    font: inherit;
    font-size: 1em;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none !important;
    appearance: none;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: 0;

    &:before {
        .base-icon();
        color: fade(@base_text_color, 54%);

        font-size: @checkbox-font-size;
        line-height: 1;
    }
    &:checked::before {
        color: @primary_color;
    }

    &:focus {
        outline: none !important;
    }
    &::-moz-focus-inner {
        border: 0;
    }
    &:disabled,
    &[disabled] {
        &:checked:before {
            color: fade(@primary_color, 30%);
        }
    }

    & + label {
        padding-left: 0.3em;
        #sys-no-select();
    }
}

input[type="checkbox"],
input[type="radio"] {
    .base-checkable-control();
}

.InlineEntry > * {
    vertical-align: middle;
}

input[type="checkbox"]:before {
    .mdi-icon-name-to-content("checkbox-blank-outline");
}
input[type="checkbox"]:checked::before {
    .mdi-icon-name-to-content("checkbox-marked");
}
input[type="radio"]:before {
    .mdi-icon-name-to-content("radiobox-blank");
}
input[type="radio"]:checked::before {
    .mdi-icon-name-to-content("radiobox-marked");
}

/* Data Tables */
.widget_DataTable {
    background: #ffffff;
    border-radius: unit(2 * @dp, em);
    /* .z-depth(2); */
    border: solid 1px #ccc;
}
.widget_ScrollbarlessScrollView.DataTableScroller.VerticalOverflowed .widget_DataTable {
    border-top: none;
    border-bottom: none;
}
.widget_ScrollbarlessScrollView.DataTableScroller.VerticalOverflowed {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.widget_DataTable[flat="true"] {
    box-shadow: none;
}
.widget_DataTable > table,
.widget_DataTable > .HeaderTableWrapper > table {
    border-spacing: 0px;
    opacity: 0.999999;
    background: #ffffff;
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th {
    background: @app_bg;
    color: fade(@base_text_color, 84%);
    font-weight: bold;
    text-align: left;
    line-height: 1.2em;
    padding: 0px;

    & .WrapperInner {
        background: @app_bg;
    }
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable .WrapperInner {
    .icon("arrow-up");
    position: relative;
    overflow: visible;
    #sys-no-select();
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable .WrapperInner:hover {
    color: @primary_text_color;
    cursor: default;
    background: lighten(@app_bg, 5%);
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable .WrapperInner:before {
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
    position: absolute;
    left: 0.2em;
    top: 50%;
    margin-top: -0.55em;
    color: fade(@base_text_color, 20%);
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable.DescSort .WrapperInner:before,
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable.AscSort .WrapperInner:before {
    color: fade(@base_text_color, 100%);
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable.DescSort .WrapperInner::before {
    transform: rotate(180deg);
}

.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable.DescSort .WrapperInner,
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.Sortable.AscSort .WrapperInner {
    background-color: #e4e4e4;

    &:hover {
        background-color: #e7e7e7;
    }
}

.widget_DataTable table.DataTableHeaderTable > thead > tr > th[data-type="numeric"],
.widget_DataTable table.DataTableHeaderTable > tbody > tr > td[data-type="numeric"] {
    text-align: right;
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th,
.widget_DataTable > table > tbody > tr > td {
    padding: 0px;
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th .WrapperInner > div,
.widget_DataTable > table > tbody > tr > td > .CellContentWrapper {
    padding: unit(10 * @dp, em);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.widget_DataTable table.DataTableHeaderTable > thead > tr > th.DTCheckboxAll .WrapperInner > div,
.widget_DataTable > table > tbody > tr > td.DTCheckBoxBody > .CellContentWrapper {
    text-overflow: clip;
}

.widget_DataTable table.DataTableHeaderTable > thead > tr > th:not(.DTCheckboxAll) .WrapperInner > div,
.widget_DataTable > table > tbody > tr > td:not(.DTCheckBoxBody) > .CellContentWrapper {
    padding-left: unit(20 * @dp, em);
}

.widget_DataTable table.DataTableHeaderTable > thead > tr > th.DTCheckboxAll > div,
.widget_DataTable > table > tbody > tr > td.DTCheckBoxBody > .CellContentWrapper {
    padding-left: 0em;
    padding-right: 0em;
    text-align: center;
}

.widget_DataTable table.DataTableHeaderTable > thead > tr > th > div {
    /* height: unit(10 * @dp, em) * 2 + 1.2em; */
}
.widget_DataTable > table > tbody > tr > td {
    line-height: 1.2em;
    border-top: solid unit(1 * @dp, em) fade(@base_text_color, 12%);
}
.widget_DataTable > table > tbody > tr:hover {
    background: @hover_bg;
}
.widget_DataTable > .ColumnSetting span {
    display: block;
}
.widget_DataTable > .ColumnSetting span i {
    .icon("dots-horizontal");
    font-size: 1.5em;
    height: 0.7em;
    box-sizing: content-box;
    display: block;
    padding: 0.1em 0em;
    color: fade(@base_text_color, 20%);

    .ripple-effect();
}
.widget_DataTable > .ColumnSetting span i:hover {
    background: @hover_bg;
}

.widget_DataTable td.Actions > .CellContentWrapper {
    font-size: 1.2em;
    & > span {
        padding: 0.3em;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 1em;
        height: 1em;
        line-height: 1em;

        &:not(.Disabled):hover {
            background: @primary_color;
            color: @inverted_text_color;
        }

        &:not(.Disabled):active {
            background: lighten(@primary_color, 10%);
        }

        &.Disabled {
            opacity: 0.2;
        }

        & + span {
            margin-left: 0.2em;
        }

        & > icon::before {
            font-size: 1em;
            line-height: 1em;
        }
    }
}

/* Tab Pane */
.widget_TabPane > .AnonId_header {
    background: #e0e0e0;
    padding-left: 1em;
    overflow: hidden;
}
.widget_TabPane > .AnonId_header > .TabHeader {
    color: #767676;
    background-color: transparent;
    padding: unit(10 * @dp, em) unit(18 * @dp, em);
    font-weight: bold;
    text-align: center;
    max-width: unit(500 * @dp, em);
    cursor: pointer;

    border-left: solid 1px transparent;

    #sys-no-select();

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:not(.ActiveTab) + .TabHeader:not(.ActiveTab) {
        border-left: solid 1px rgba(0, 0, 0, 0.05);
    }
}
.widget_TabPane > .AnonId_header > .TabHeader.ActiveTab {
    color: #000;
    background: #eeeeee;
    border-bottom: none;
    border-top: solid 2px #5ca7e0;
}
.widget_TabPane > .AnonId_content > .TabBody {
    padding: unit(18 * @dp, em);
}

/* Popup, Menu and Combo */

.AnonId_popupContainer {
    background: #ffffff;
    border-radius: unit(2 * @dp, em);
    .z-depth(4);

    transition: opacity 0.4s;
    box-sizing: border-box;

    padding: unit(8 * @dp, em) 0rem;
}

.AnonId_popupContainer.ComboManagerPopup .AnonId_list .Item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget_ComboManager {
    .gradient(linear; #FFFFFF, #F7F7F7, #FFFFFF; 90deg);
    border: solid 1px #cdcdcd;
}
.widget_ComboManager .AnonId_buttonDisplay {
    padding-right: 1.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget_ComboManager > icon {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.1em;
}
.AnonId_popupContainer.ComboManagerPopup .AnonId_list {
    overflow: auto;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem:not(.MenuSeparator) {
    align-items: center;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem:not(.MenuSeparator),
.AnonId_popupContainer.ComboManagerPopup .AnonId_list .Item {
    padding: unit(8 * @dp, em) unit(12 * @dp, em);
    cursor: default;
    &.Selected {
        background: @primary_color;
        color: @inverted_text_color;
    }
}
.AnonId_popupContainer.MenuPopupContainer .MenuSeparator {
    border: none;
    border-top: solid unit(2 * @dp, em) rgba(0, 0, 0, 12%);
    height: unit(2 * @dp, em);
    box-sizing: border-box;
    margin: unit(7 * @dp, em) 0em;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem.Active:not([disabled="true"]),
.AnonId_popupContainer.MenuPopupContainer .MenuItem:not([disabled="true"]):hover,
.AnonId_popupContainer.ComboManagerPopup .AnonId_list .Item:not(.Disabled):hover {
    background: @hover_bg;
    color: @base_text_color;
    &.Selected {
        background: fade(@primary_color, 40%);
    }
}
.AnonId_popupContainer.ComboManagerPopup .AnonId_list .Item.Disabled,
.AnonId_popupContainer.MenuPopupContainer .MenuItem[disabled="true"] {
    opacity: 0.6;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem > label {
    min-width: 1em;
    margin-right: 0.5em;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem > i {
    font-size: 1.4em;
    width: 1.2em;
}

.AnonId_popupContainer.MenuPopupContainer .MenuItem > input {
    width: 1.2em * 1.4;
}

.AnonId_popupContainer.MenuPopupContainer .MenuItem > label + i {
    text-align: right;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem > *:first-child + label {
    margin-left: 0.8ex;
}
.AnonId_popupContainer.MenuPopupContainer.NoPrefix .MenuItem > *:first-child + label {
    margin-left: 0ex;
}
.AnonId_popupContainer.MenuPopupContainer .MenuItem > *:first-child + label + * {
    margin-left: 2ex;
}

/* Dialogs */
@dialog_frame_bg: #eeeeee;
.Sys_DialogOverlay {
    background: rgba(0, 0, 0, 0.2);
}
.AnonId_dialogFrame {
    border: none;
    border-radius: 0.2em;
    background: @dialog_frame_bg;
    .z-depth-16dp();
    transition: opacity 0.4s;
}
.AnonId_dialogFrame:focus {
    outline: none;
}

.AnonId_dialogFrame .AnonId_dialogHeaderPane {
    margin: 0em;
    padding: unit(12 * @dp, em);
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    align-items: center;
    background-color: #e0e0e0;
}

.AnonId_dialogFrame .AnonId_dialogHeaderPane:hover .AnonId_dialogClose {
    opacity: 0.7;
}
.AnonId_dialogFrame .AnonId_dialogHeaderPane .AnonId_dialogClose {
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    font-size: unit(20 * @dp * @default-line-height, em);
    padding: 0em;
    .icon("close");

    padding: 0.2em;
    margin: -0.2em;

    border-radius: 0.7em;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    color: #333;

    font-weight: bold;

    .ripple-effect();

    &:hover {
        color: #f00;
        opacity: 1;
        background: @hover_bg;
    }
}

.AnonId_dialogFrame .AnonId_dialogTitle {
    display: block;
    font-size: 1em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.6);

    padding-right: 1em;
}
.AnonId_dialogFrame .AnonId_dialogSubTitle {
    color: #000;
    display: block;
    opacity: 0.7;
}

.AnonId_dialogFrame .AnonId_dialogBody {
    padding: 1em;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
}
.AnonId_dialogFrame .AnonId_dialogFooter {
    padding: unit(12 * @dp, em);
    margin-top: 0em;
}
.AnonId_dialogFooter > hbox > * + * {
    margin-left: @button_gap;
}

.AnonId_dialogFooter button {
    min-width: unit(64 * @dp, em);
    display: inline-block;

    &[mode="danger"] {
        background: @danger_button_color;
        color: @danger_button_text_color;

        &:focus {
            background-color: shade(@danger_button_color, 20%);
        }
    }
    &[mode="closeonly"] {
    }

    & span.ButtonTitle {
        align-items: center;
        vertical-align: middle;

        & icon {
            margin-left: 1ex;
            color: @warning_color;
            font-size: 1em;
            position: relative;
            top: 0.1em;
        }
    }
}

.AnonId_dialogFrame .MessageDialog {
    & > icon {
        font-size: 3em;
        opacity: 0.54;
    }
    &.Error > icon {
        color: @problem_color;
    }
}

.AnonId_dialogFrame .MessageDialog .Messages {
    margin-left: 2em;
    word-break: break-word;
    overflow: hidden;
}
.AnonId_dialogFrame .MessageDialog .Messages p {
    margin-top: 0.5em;
}
.AnonId_dialogFrame .MessageDialog.Prompt .Messages input {
    box-sizing: border-box;
}

.AnonId_dialogFrame .WizardContent {
    /*position: relative;
    border: solid 1px #DDDDDD;
    border-top: none;
    background: #FAFAFA;
    box-sizing: content-box;*/
    position: relative;
    background: #fafafa;
    box-sizing: content-box;
}
.AnonId_dialogFrame .WizardContent > .WizardPane {
    position: absolute;
    visibility: hidden;
    padding: 0.7em;
    left: 0px;
    top: 0px;
}
.AnonId_dialogFrame .WizardContent > .WizardPane.Measured {
    right: 0px;
    bottom: 0px;
}
.AnonId_dialogFrame .WizardContent > .ActiveWizardPane {
    visibility: inherit;
}

.AnonId_dialogFrame .SelectDialog {
    &.HasMessage {
        margin-left: 1em;
    }

    & > hbox {
        align-items: center;
        & + hbox {
            margin-top: 0.3em;
        }
    }
}

/* Tree */
@tree-item-height: unit(@default-line-height + 4 * @dp, em);
.widget_Tree {
    padding: 0.5em;
    #sys-no-select();
}
.widget_Tree label {
    margin-bottom: 0px;
    font-weight: normal;
}
.widget_Tree .ItemText {
    box-sizing: border-box;
}
.widget_Tree .ItemText label {
    display: inline-block;
    line-height: @tree-item-height;
    padding: 0em 0.4em;
}
.widget_Tree .ItemText.Selected label {
    border-radius: unit(2 * @dp, em);
    background: @primary_color;
    color: @inverted_text_color;
}
.widget_Tree .SelectableItem * {
    cursor: default;
}
.widget_Tree .SelectableItem:hover label {
    background: @hover_bg;
}
.widget_Tree .SelectableItem.Selected:hover label {
    background: darken(@primary_color, 10%);
}

.widget_Tree .ItemText.Disabled label {
    opacity: 50%;
}

.widget_Tree .Title .ItemText {
    display: inline;
}
.widget_Tree .Title {
    white-space: nowrap;
    padding: 0.1em 0em;
}
.widget_Tree .IconicLabel * {
    vertical-align: middle;
}
.widget_Tree .IconicLabel img {
    width: 1em;
    height: 1em;
}

.widget_Tree .Title * {
    vertical-align: middle;
}
.widget_Tree .Title .Checkbox::before {
    line-height: @tree-item-height / unit(@checkbox-font-size);
    height: @tree-item-height / unit(@checkbox-font-size);
}
.widget_Tree .NoChild .Chevron icon:before {
    visibility: hidden;
}
.widget_Tree .Title .Chevron icon:before {
    margin-top: (@tree-item-height - 1em) / 2;
    transform: rotate(0deg) scale(1.5);
    transition: transform 0.1s ease;
}

.widget_Tree .ExpandedTitle .Chevron icon:before {
    transform: rotate(90deg) scale(1.5);
}
.widget_Tree .Title .Chevron {
    font-size: 1em;
    padding: 0em 0.3em;
    cursor: pointer;
    color: #777;
}
.widget_Tree .Children {
    padding-left: 1em;
}
.widget_Tree .RootChildren {
    padding-left: 0px;
}
.widget_Tree .CollapsedChildren {
    display: none;
}
.widget_Tree .Checkbox {
    display: none;
}
.widget_Tree .Children .Children {
    position: relative;
}
.widget_Tree .Children .Children .Title {
    position: relative;
}
.widget_Tree .Children .Children .NoChild:before {
    width: 1.6em;
}
.widget_Tree .Children .Children .LastChild {
    position: relative;
}

.CheckableTree .Checkbox {
    display: inline;
}
.FamilyNotMSIE .CheckableTree .Checkbox {
}
.CheckableTree .Checkbox[disabled] {
    opacity: 0.4;
}

/* Action Bar */
@toolbar-button-background: rgba(0, 0, 0, 0.03);
.widget_ActionBar > hbox + hbox {
    margin-left: 0.5em;
}
.widget_ActionBar button {
    padding: 0.4em 0.6em;
    text-align: center;
    min-width: 1.4em;
    box-sizing: content-box;
    border-radius: unit(4 * @dp, em);
}
.widget_ActionBar button + button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.widget_ActionBar button:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.widget_ActionBar button:not(:focus) {
    background: @toolbar-button-background;
}

/* Paginator */
.widget_Paginator button.active {
    background-color: @primary_color;
    color: @base_inverted_text_color;
}

.widget_Paginator {
    & button:not(:last-child) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    & button + button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 1px;
    }

    & button[disabled] {
        opacity: 0.3;
    }
}
/* SplitView */

.SplitViewSplitter {
    cursor: ew-resize;
}
.SplitViewSplitter div {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 4px;
    bottom: -20px;
    margin-left: -2px;
}
.SplitViewSplitter div.Kept,
.SplitViewSplitter:hover div,
.SplitViewSplitter:active div {
    background: rgba(0, 0, 0, 0.1);
}
.SplitViewHeld .SplitViewSplitter div {
    background: rgba(33, 66, 99, 0.6);
}
.SplitViewBOTH #dataContainer {
    border-right: solid 2px transparent;
}
.SplitViewBOTH #mapContainerWrapper {
    border-left: solid 2px transparent;
}

/* Snackbar */
.widget_SnackBar {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;

    &.Floating {
        .z-depth(4);
    }

    & .AnonId_extraMessage {
        max-width: 24em;
        opacity: 0.8;
    }

    &.WithExtraMessage .AnonId_icon {
        align-self: flex-start;
    }
}

// old Paginator
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #5fa8dc;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2b84c4;
    background-color: #eeeeee;
    border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #ffffff;
    background-color: #5fa8dc;
    border-color: #5fa8dc;
    cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #ffffff;
    cursor: not-allowed;
}
.PaginatorDescription {
    display: inline-block;
    margin: 20px 0;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.42857143;
}
